@font-face {
    font-family: NotoSansArabic;
    src: url("/fonts/NotoSansArabic.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("/fonts/OpenSans.ttf");
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NotoSansArabic, OpenSans;
}

:root {
    --white: #fefeff;
    --light-gray: #f5f5f9;
    --dark-gray: #454545;
    --black: #2b2b2b;
    --blue: #696cff;
    --red: #ca3e47;
    --green: #80e04d;

    --navbar-height: 4rem;
    --shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

body {
    color: var(--black);
    background-color: var(--white);
}

body.dark {
    --white: #2b2b2b;
    --light-gray: #454545;
    --dark-gray: #f5f5f9;
    --black: #fefeff;
}

form {
    width: 100%;
}

button,
input,
textarea {
    border: none;
    outline: none;
    background: none;
}

button {
    cursor: pointer;
}

.btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5em 1.25em;
    border-radius: .25em;
    color: var(--white);
    background-color: var(--light-gray);
    transition: all .3s ease-out;
    cursor: pointer;
}

.btn.primary {
    color: white;
    background-color: var(--blue);
}

.btn.full-width {
    display: block;
    width: 100%;
}

.btn:hover {
    color: var(--white);
    background-color: var(--dark-gray);
}

.remove-btn {
    color: var(--red);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.25rem 1rem;
}

.table {
    width: 100%;
    background-color: var(--white);
    overflow-x: auto;
    border-radius: .125rem;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table table th {
    text-align: right;
    font-size: .75rem;
    color: var(--dark-gray);
}

.table table :is(td, th) {
    padding: .5rem 1rem;
}

.table table tbody tr:hover {
    background-color: var(--light);
}

.table table td {
    font-size: .75rem;
    padding: .5rem 1rem;
    border-top: .075rem solid #dee2e6;
    transition: background .3s ease-in;
}

.table table td:last-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}